<template>
    <section class="content">
      <div class="container-fluid">
        <div class="row justify-content-around">
          <!-- left column -->
          <div class="col-md-10">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add new Post</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" enctype="multipart/form-data" v-on:submit.prevent="addnewPost">
                <div class="card-body">
                  <!--new title-->
                  <div class="form-group">
                    <label for="postId">Add new Post</label>
                    <input type="text" class="form-control"
                           id="postId"
                           placeholder="Add New Title"
                           v-model="form.title"
                           name="title"
                           :class="{'is-invalid': form.errors.has('title')}"
                    >
                    <has-error :form="form" field="title"></has-error>
                  </div>
                  <!--new descripiton-->
                  <div class="form-group">
                    <label for="descriptionId">Add new Description</label>
                    <markdown-editor v-model="form.description"></markdown-editor>
                    <has-error :form="form" field="description"></has-error>
                  </div>
                  <!--category-->
                  <div class="form-group">
                    <label>Select</label>
                    <select class="form-control"
                            :class="{ 'is-invalid': form.errors.has('cat_id') }"
                            v-model="form.cat_id"
                    >
                        <option disabled value="">Select One</option>
                        <option :value="category.id"
                                v-for="category in getAllCategories"
                                :key="category.id">option {{category.cat_name}}
                        </option>
                    </select>
                    <has-error :form="form" field="cat_id"></has-error>
                  </div>
                  <!--new photo-->
                  <div class="form-group">
                    <input v-on:change="changePhoto($event)"
                           name="photo"
                           type="file"
                           :class="{ 'is-invalid': form.errors.has('photo') }">
                    <img :src="form.photo" alt="" width="80" height="80">
                    <has-error :form="form" field="photo"></has-error>
                  </div>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
            </div>
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
</template>

<script>
    export default {
       name: 'AddPost',
       data(){
         return{
            form: new Form({
                title: '',
                description: '',
                cat_id: '',
                photo: '',
            })
         }
       },
       mounted(){
         this.$store.dispatch("allCategories")
       },
       computed:{
         getAllCategories(){
            return this.$store.getters.getCategory;
         }
       },
       methods: {
         addnewPost: function(){
            this.form.post('/add-post')
            .then((response) => {
                this.$router.push('/post-list')
                toast.fire({
                             type: 'success',
                             title: 'Post Added successfully'
                           })
            })
            .catch((e) => {
                console.log(e);
            })
         },
         changePhoto: function(event){
             let file = event.target.files[0];
             if(file.size>1048576){
                swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!',
                    footer: '<a href>Why do I have this issue?</a>'
                })
            }else{
             let reader = new FileReader();
             reader.onload = (event) => {
                this.form.photo = event.target.result;
                console.log(event.target.result)
             }
             reader.readAsDataURL(file);
            }
         }
      }
    }
</script>

