<template>
      <section class="content">
       <div class="row justify-content-around">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Post List</h3>

              <div class="card-tools">
                  <button class="btn btn-primary">
                    <router-link to="/add-post" style="color:#fff">Add New Post</router-link>
                  </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Sl</th>
                        <th>User</th>
                        <th>Category</th>
                        <th>Titel</th>
                        <th>Description</th>
                        <th>Photo</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                <tr v-for="post in allpost" :key="post.id">
                  <td>{{post.id}}</td>
                  <td>{{post.user.name}}</td>
                  <td>{{post.category.cat_name}}</td>
                  <td>{{post.title}}</td>
                  <td>{{post.description | sortlength(80, "...")}}</td>
                  <td><img :src="getImage(post.photo)" :alt="post.title" width="40" height="50"/></td>
                  <td>
                     <router-link :to="`edit-post/${post.id}`">Edit</router-link>
                     <a href="#" v-on:click.prevent="deletepost(post.id)">Delate</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
      <!-- /.row -->
     </section>
</template>
<script>
    export default {
       name: 'PostList',
       mounted(){
         this.$store.dispatch('getAllPost');
       },
       computed:{
            allpost(){
                return this.$store.getters.getAllPost
            }
       },
       methods: {
           getImage(img){
              return `/uploadimage/${img}`;
           },
           deletepost(id){
              axios.get(`/delete-post/${id}`)
                   .then(() => {
                      this.$store.dispatch('getAllPost');
                      toast.fire({
                        type: 'success',
                        title: 'Post Deleted successfully'
                      })
                   }).catch((e) => {
                       console.log(e);
                   })
           }
       }
    }
</script>
