<template>
    <section class="content">
      <div class="container-fluid">
        <div class="row justify-content-around">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add new Category</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form"  v-on:submit.prevent="addCategory" action="#">
                <div class="card-body">
                  <div class="form-group">
                    <label for="categoryId">Add new Category</label>
                    <input type="text" class="form-control"
                           id="categoryId"
                           placeholder="Add New Category"
                           v-model="form.cat_name"
                           name="cat_name"
                           :class="{'is-invalid': form.errors.has('cat_name')}"
                    >
                    <has-error :form="form" field="cat_name"></has-error>
                  </div>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
            </div>
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
</template>

<script>
    export default {
       name: 'AddCategory',
       data(){
         return{
            form: new Form({
                cat_name: ''
            })
         }
       },
       methods: {
         addCategory: function(){

            this.form.post('/add-category')
            .then((response) => {
                this.$router.push('/category-list')
                toast.fire({
                        type: 'success',
                        title: 'Category Added successfully'
                        })
            })
            .catch((e) => {
                console.log(e);
            })
         }
      }
    }
</script>

