<template>
      <section class="content">
       <div class="row justify-content-around">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Category List</h3>

              <div class="card-tools">
                  <button class="btn btn-primary">
                    <router-link to="/add-category" style="color:#fff">Add Category</router-link>
                  </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Sl</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                <tr v-for="category in getAllCategories" :key="category.id">
                  <td>{{category.id}}</td>
                  <td>{{category.cat_name}}</td>
                  <td>{{category.created_at | timeformat}}</td>
                  <td>
                     <router-link :to="`/edit-category/${category.id}`">Edit</router-link>
                     <a href="#" v-on:click.prevent="deletecategory(category.id)">Delate</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
      <!-- /.row -->
     </section>
</template>
<script>
    export default {
       name: 'CategoryList',
       mounted(){
         this.$store.dispatch('allCategories');
       },
       computed:{
           getAllCategories(){
              return this.$store.getters.getCategory;
           }
       },
       methods: {
           deletecategory(id){
              axios.get(`/category/${id}`)
                   .then(() => {
                      this.$store.dispatch('allCategories');
                      toast.fire({
                        type: 'success',
                        title: 'Category Deleted successfully'
                      })
                   })
           },
           updatecategory(id){
              axios.get(`/category/${id}`)
                   .then(() => {
                      this.$store.dispatch('allCategories');
                      toast.fire({
                        type: 'success',
                        title: 'Category Updated successfully'
                      })
                   })
           }
       }
    }
</script>
