<template>
    <section class="content">
      <div class="container-fluid">
        <div class="row justify-content-around">
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Category</h3>
              </div>
              <!-- form start -->
              <form role="form"  v-on:submit.prevent="updateCategory" action="#">
                <div class="card-body">
                  <div class="form-group">
                    <label for="categoryId">Edit Category</label>
                    <input type="text" class="form-control"
                           id="categoryId"
                           placeholder="Add New Category"
                           v-model="form.cat_name"
                           name="cat_name"
                           :class="{'is-invalid': form.errors.has('cat_name')}"
                    >
                    <has-error :form="form" field="cat_name"></has-error>
                  </div>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Update</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
</template>
<script>
    export default {
       name: 'Edit Category',
       mounted(){
           axios.get(`/editecategory/${this.$route.params.categoryid}`)
                 .then((response) => {
                     this.form.fill(response.data.category);
                 });
       },
       data(){
         return{
            form: new Form({
                cat_name: ''
            })
         }
       },
       computed:{

       },
       methods: {
         updateCategory: function(){

            this.form.post(`/update-category/${this.$route.params.categoryid}`)
            .then((response) => {
                this.$router.push('/category-list')
                toast.fire({
                            type: 'success',
                            title: 'Category Updated successfully'
                           })
            })
            .catch((e) => {
                console.log(e);
            })
         }
       }
    }
</script>
