<template>
    <div id="adminmain">
        <router-view></router-view>
    </div>
</template>
<script>
    export default {
        mounted() {
            console.log('Admin Master.')
        }
    }
</script>

