<template>
  <div id="siderbar">
    <div class="span4">
      <aside class="left-sidebar">
        <div class="widget">
          <form class="form-search">
            <input placeholder="Type something" type="text" class="input-medium search-query">
            <button type="submit" class="btn btn-square btn-theme">Search</button>
          </form>
        </div>
        <div class="widget">
          <h5 class="widgetheading">Categories</h5>
          <ul class="cat">
            <li v-for="category in allcategories" :key="category.id">
              <i class="icon-angle-right"></i>
              <router-link :to="`/categories/${category.id}`">{{category.cat_name}}</router-link>
              <span>(20)</span>
            </li>
          </ul>
        </div>
        <div class="widget">
          <h5 class="widgetheading">Latest posts</h5>
          <ul class="recent">
            <li v-for="post in blogpost" :key="post.id">
              <img :src="getImage(post.photo)" class="pull-left" alt="" width="40" height="40">
              <h6>
                <router-link :to="`/blog/${post.id}`">{{post.title}}</router-link>
              </h6>
              <p>{{post.description | sortlength(100,"....")}}</p>
            </li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</template>
<script>
export default {
  name: "SiderBar",
        data(){
            return {
                keyword:''
            }
        },
        computed:{
            allcategories(){
                return this.$store.getters.getAllCategories;
            },
            blogpost(){
                return this.$store.getters.getLatestPost
            }
        },
        mounted(){
            this.$store.dispatch('latestPost');
            this.$store.dispatch('getCategories');
        },
        methods:{
           getImage(img){
              return `/uploadimage/${img}`;
           }

            /*RealSearch:_.debounce(function () {
                this.$store.dispatch('SearchPost',this.keyword);
            },1000)*/
        }
};
</script>
