<template>
    <div id="publimain">
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name: "PublicMaster",
        mounted() {
            console.log('PublicMaster.')
        }
    }
</script>

