<template>
    <div id="publichome">
    <section id="content">
      <div class="container">
        <div class="row">
          <!--sider bar-->
          <SiderBar />
          <div class="span8">
            <article v-for="post in blogPost" :key="post.id">
              <div class="row">
                <div class="span8">
                  <div class="post-image">
                    <div class="post-heading">
                      <h3><router-link :to="`/single-post/${post.id}`">{{post.title}}</router-link></h3>
                    </div>
                    <img :src="getImage(post.photo)" alt="" />
                  </div>
                  <p>
                   {{post.description | sortlength(200, "...")}}
                  </p>
                  <div class="bottom-article">
                    <ul class="meta-post">
                      <li><i class="icon-calendar"></i><a href="#"> Mar 23, 2013</a></li>
                      <li v-if="post.user">
                          <i class="icon-user"></i>
                          <a href="#">{{post.user.name}}</a>
                      </li>
                      <li v-if="post.category">
                          <i class="icon-folder-open"></i>
                          <a href="#">{{post.category.cat_name}}</a>
                      </li>
                      <li><i class="icon-comments"></i><a href="#">4 Comments</a></li>
                    </ul>
                    <router-link :to="`/single-post/${post.id}`" class="pull-right">Continue reading <i class="icon-angle-right"></i></router-link>
                  </div>
                </div>
              </div>
            </article>
            <div id="pagination">
              <span class="all">Page 1 of 3</span>
              <span class="current">1</span>
              <a href="#" class="inactive">2</a>
              <a href="#" class="inactive">3</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>
</template>
<script>
    import SiderBar from './blog/SiderBar';
    export default {
        name: "PublicHome",
        mounted(){
          this.$store.dispatch('getBlogPost');
       },
       data(){
         return{
             id:''
         }
       },
       components:{
           SiderBar
       },
       computed:{
          blogPost(){
              return this.$store.getters.getBlogPost;
          }
       },
       methods: {
          getAllCategoriesPost(){
              this.$store.dispatch('getPostByCatId', this.$route.params.id);
          },
          getImage(img){
              return `/uploadimage/${img}`;
           }
       },
       watch:{
        $route(to, from){
          this.getAllCategoriesPost();
        }
       }
    }
</script>
